/* Hero Section */

.hero-description {
    color: #E1E1E1;
    max-width: 800px;
    margin: 0 auto 2rem;
    font-size: 1.25rem;
    line-height: 1.6;
}

/* Projects Section */
.projects-section {
    margin-bottom: 3rem;
}

.projects-title {
    color: #BB86FC;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.project-card {
    padding: 1rem;
    background-color: #1E1E1E;
    border-radius: 8px;
    transition: transform 0.2s;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: scale(1.02);
}

.project-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.project-icon {
    font-size: 2.5rem;
    color: #BB86FC;
    margin-right: 1rem;
}

.project-title {
    color: #BB86FC;
    font-size: 2rem;
}

.project-description {
    color: #E1E1E1;
    margin-bottom: 1rem;
    line-height: 1.5;
    flex-grow: 1;
}