/* Hero Section */

.hero-description {
    color: #e1e1e1;
    max-width: 800px;
    margin: 0 auto 2rem;
    font-size: 1.25rem;
    line-height: 1.6;
}

/* Projects Section */
.projects-section {
    margin-bottom: 3rem;
}

.projects-title {
    color: #bb86fc;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.projects-section .project-card {
    padding: 1.5rem;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.projects-section .project-card:hover {
    transform: scale(1.02);
}

.projects-section .project-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.projects-section .project-icon {
    flex-shrink: 0;
    font-size: 2.5rem !important;
    color: #bb86fc;
}

.projects-section .project-title {
    color: #bb86fc;
    font-size: 2rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects-section .project-description {
    color: #e1e1e1;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.projects-section .default-button {
    margin-top: auto;
}
